* {
    direction: rtl;
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

td input {
    border: 1px solid #ccc;
}

.edit {
    position: relative;
}

.add {}

.delete {}

.edit .spinner-border {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    color: #585454;
}

.edit-icon::after {
    font-family: "bootstrap-icons";
    content: "\F4CA";
    color: pink;
}

.save-icon::after {
    font-family: "bootstrap-icons";
    content: "\F525";
    color: #07c90d;
}



.add-icon::after {
    content: "\F4FD";
    font-family: "bootstrap-icons";
    color: green;
}

.delete::after {
    content: "\F628";
    font-family: "bootstrap-icons";
    color: red;
}

.effect_alert {
    position: fixed;
    top: 15vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 30vw;
    text-align: center;
    transition: 10s;
    opacity: 0;
}

.mask
{
    background: #0000006b;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.mask .window 
{
    width: 600px;
    height: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
    border-radius: 4px;
}

.close-window::after
{
    content: "\F628";
    font-family: "bootstrap-icons";
    color: red; 
    position: absolute;
    left: 4px;
    cursor: pointer;
}

.parent-item
{
    
    display: flex!important;
    justify-content: center!important;
    align-items: center;
    height: 100%;

}
.parent-item label{font-size: 15px;}
.parent-item input,label{   margin: 14px 0;}